<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
        <form name="anxiety_form" method="post" action=" ">
                <div class="anxiety_div">
                    <p class="main_p2">※ 지난 2주일 동안 당신은 다음의 문제들로 인해서 얼마나 자주 방해를 받았습니까?</p>
        
         <ul class="anxiety_Q">
                <li class="Q">
          1. 초조하거나 불안하거나 조마조마하게 느낀다
          </li>
         </ul>
        
         <ul class="anxiety_A">
                <li class="A">
           <input type="radio" name="A1_input" class="A1_input" id="11" value="0"> <label for="11">전혀 방해 받지않았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A1_input" class="A1_input" id="12" value="0"> <label for="12">며칠 동안 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A1_input" class="A1_input" id="13" value="0"> <label for="13">2주 중 절반이상 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A1_input" class="A1_input" id="14" value="0"> <label for="14">거의 매일 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_Q">
          <li class="Q">
           2. 걱정하는 것을 멈추거나 조절할 수가 없다
          </li>
         </ul>
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A2_input" class="A2_input" id="21" value="0"> <label for="21">전혀 방해 받지않았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A2_input" class="A2_input" id="22" value="1"> <label for="22">며칠 동안 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A2_input" class="A2_input" id="23" value="2"> <label for="23">2주 중 절반이상 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A2_input" class="A2_input" id="24" value="3"> <label for="24">거의 매일 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_Q">
          <li class="Q">
           3. 여러 가지 것들에 대해 걱정을 너무 많이 한다
          </li>
         </ul>
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A3_input" class="A3_input" id="31" value="0"> <label for="31">전혀 방해 받지않았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A3_input" class="A3_input" id="32" value="1"> <label for="32">며칠 동안 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A3_input" class="A3_input" id="33" value="2"> <label for="33">2주 중 절반이상 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="examA">    
           <input type="radio" name="A3_input" class="A3_input" id="34" value="3"> <label for="34">거의 매일 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_Q">
          <li class="Q">
           4. 편하게 있기가 어렵다
          </li>
         </ul>
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A4_input" class="A4_input" id="41" value="0"> <label for="41">전혀 방해 받지않았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A4_input" class="A4_input" id="42" value="1"> <label for="42">며칠 동안 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A4_input" class="A4_input" id="43" value="2"> <label for="43">2주 중 절반이상 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A4_input" class="A4_input" id="44" value="3"> <label for="44">거의 매일 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_Q">
          <li class="Q">
           5. 너무 안절부절못해서 가만히 있기가 힘들다
          </li>
         </ul>
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A5_input" class="A5_input" id="51" value="0"> <label for="51">전혀 방해 받지않았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A5_input" class="A5_input" id="52" value="1"> <label for="52">며칠 동안 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="examA">    
           <input type="radio" name="A5_input" class="A5_input" id="53" value="2"> <label for="53">2주 중 절반이상 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A5_input" class="A5_input5" id="54" value="3"> <label for="54">거의 매일 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_Q">
          <li class="Q">
           6. 쉽게 짜증이 나거나 쉽게 성을 내게 된다
          </li>
         </ul>
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A6_input" class="A6_input" id="61" value="0"> <label for="61">전혀 방해 받지않았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A6_input" class="A6_input" id="62" value="1"> <label for="62">며칠 동안 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A6_input" class="A6_input" id="63" value="2"> <label for="63">2주 중 절반이상 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A6_input" class="A6_input" id="64" value="3"> <label for="64">거의 매일 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_Q">
          <li class="Q">
           7. 마치 끔찍한 일이 생길 것처럼 두렵게 느껴진다
          </li>
         </ul>
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A7_input" class="A7_input" id="71" value="0"> <label for="71">전혀 방해 받지않았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A7_input" class="A7_input" id="72" value="1"> <label for="72">며칠 동안 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A7_input" class="A7_input" id="73" value="2"> <label for="73">2주 중 절반이상 방해 받았다</label>
          </li>
         </ul> 
        
         <ul class="anxiety_A">
          <li class="A">    
           <input type="radio" name="A7_input" class="A7_input" id="74" value="3"> <label for="74">거의 매일 방해 받았다</label>
          </li>
         </ul> 
        
        </div>
        </form>
<!--버튼만들기-->        
</body>
</html>