<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>회사 소개</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700" rel="stylesheet">
	<link rel="stylesheet" href="/javascripts/swiper-master/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/intro.css">
	<link rel="stylesheet" href="/stylesheets/animation_popup.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="./javascripts/kakaoSDK.js"></script>
	<script src="./javascripts/inputDataCheck.js"></script>

</head>
<body>
    	<div id="wrapper">
                <section class="intro_one">
                        <div class="intro_one_menu section_image">
                            <div class="intro_one_text">
                            <h2>커넥투하트 소개</h2>
                            <p>많은 사람들이 심리 상담의 혜택을 받아 더 건강한 사회를 만들어갑니다.</p>
                            <div class="one_sub">
                        </div>
                    </div>
                </section>
                
                <section class="intro_two">
                        <div class="intro_two_menu section_image">
                           <div class="intro_two_img"></div>
                            <div class="intro_two_text">
                            <h2>커넥투하트 설립배경</h2>
                            <p>‘우울증 60만 명’, OECD국가 중 행복지수 29위‘ 매년 뉴스에서 들려오는 문구입니다. 
                                    이처럼 많은 현대인들이 빠르게 변화하는 세상 속에서 마음의 병을 앓고 있습니다. 
                                    이에 심리 상담의 필요성이 대두대고 있지만, 여전히 편견과 오해로 주저하는 사람들이 많습니다. 
                                    바빠서 직접 심리상담소에 가지 못하는 사람, 간단한 심리상담을 통해 나의 속얘기를 하고 싶은 사람들을 위해 커넥투하트를 만들게 되었습니다.
                                     내가 마음의 병을 가지고 있지는 않은지 간단한 심리검사를 통해 검사할 수 있으며, 직접 원하는 상담사 선생님을 선택해 대화를 주고 받을 수 있습니다.
                            </p>
                        </div>
                        <div class="intro_two_sub">
                        </div>
                    </div>
        
                </section>
        
                <section class="intro_three">
                    <div class="intro_three_menu section_image">
                            <div class="intro_three_img"></div>
                        <div class="intro_three_text">
                            <h2>이렇게 이용합니다</h2>
                        </div>
                        <iframe width="40%" height="50%" src="https://www.youtube.com/embed/kmmbyCnrvzM" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </section>
      

</body>

</html>