<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <div class="login_main">
        <h2 style="text-align:center">로그인</h2>
        <form action="/api/login" method="POST">
            <!--action지정하기-->

            <input type="text" class="login_id" name="id" placeholder="아이디" /><br />
            <input type="password" class="login_password" name="password" placeholder="비밀번호" /><br />
            <input type="submit" class="login_button" value="로그인" onclick="alert('실행이 완료됐습니다.')" />
    </form>
    </div>
</body>

</html>