<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>커넥투하트</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700" rel="stylesheet">
	<link rel="stylesheet" href="/javascripts/swiper-master/dist/css/swiper.min.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/animation_popup.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script src="./javascripts/inputDataCheck.js"></script>

</head>
<body>
	<header>
		<div class="gnb">
			<a href=""><span class="logo"></span></a>
			<nav>
				<ul class="menu">
					<li class="list"><a href="">홈페이지 소개</a></li>
					</li>
					<li class="list">상담
						<ul class="submenu">
							<li><a href="">튜토리얼</a></li>
							<li><a href="/psy_test1">간단한 심리검사</a></li>
							<li><a href="">상담사 연결</a></li>
						</ul>
					</li>
					<li class="list">고객센터
						<ul class="submenu">
							<li><a href="">1:1문의</a></li>
							<li><a href="">FAQ</a></li>
							<li><a href="">공지시항</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<ul class="login_menu">
				<li class="list login"><a class="dialog__trigger">LOGIN</a></li>
				<li class="list login"><a class="dialog__trigger">SIGNUP</a></li>
				<li class="list login"><a class="dialog__trigger">MENU</a></li>
			</ul>
			<div class="dialog">
				<span class="dialog__close">&#x2715;</span>
				<h2 class="dialog__title">커넥투하트</h2>
				<p class="dialog__content">
				<div class="login_main">
        			<h2 style="text-align:center">로그인</h2>
        			<form action="로그인화면.html" method="get">
            		<!--action지정하기-->

            			<input type="text" class="login_id" name="id" placeholder="아이디" /><br />
            			<input type="password" class="login_password" name="password" placeholder="비밀번호" /><br />
            			<input type="submit" class="login_button" value="로그인" onclick="alert('실행이 완료됐습니다.')" />
					</form>
					</p>
					<a style="margin-left:30px;" id="kakao-login-btn"></a>
					<a href="http://developers.kakao.com/logout"></a>
					<p>카카오톡 로그인을 원하시면 버튼을 클릭하세요</p>
    			</div>
				<script type='text/javascript'>
					//<![CDATA[
					// 사용할 앱의 JavaScript 키를 설정해 주세요.
					Kakao.init('4f3ad7efbfbf9c7ced27c410ee3c32e4');  //여기서 아까 발급받은 키 중 javascript키를 사용해준다.
					// 카카오 로그인 버튼을 생성합니다.
					Kakao.Auth.createLoginButton({
						container: '#kakao-login-btn',
						success: function (authObj) {
							Kakao.API.request({
								url: '/v1/user/me',
								success: function (res) {
										
									$.post('/api/signUp', {
										id: res.id,
										nickname: res.properties.nickname,
										type: '2' //type 1= 일반유저 , 2= 카카오 유저
									}, function (res) {
									}, 'json')
									.done(function (res) {
									})
									.fail(function (res) {
										alert('통신 에러입니다. 관리자에게 문의하세요.');
									})
									.always(function (res) {
										console.log(res);
										if(res.result===0) {
											alert('회원 정보가 존재합니다. 로그인 기능을 이용하세요.');
										}
									})
									
									//console.log(JSON.stringify(res));
									//console.log(res.kaccount_email); //<---- kakao.api.request 에서 불러온 결과값 json형태로 출력
									
									//alert(JSON.stringify(authObj)); //<----Kakao.Auth.createLoginButton에서 불러온 결과값 json형태로 출력
									/*
									console.log(res.id);//<---- 콘솔 로그에 id 정보 출력(id는 res안에 있기 때문에  res.id 로 불러온다)
									console.log(res.kaccount_email);//<---- 콘솔 로그에 email 정보 출력 (어딨는지 알겠죠?)
									console.log(res.properties['nickname']);//<---- 콘솔 로그에 닉네임 출력(properties에 있는 nickname 접근 
									// res.properties.nickname으로도 접근 가능 )
									console.log(authObj.access_token);//<---- 콘솔 로그에 토큰값 출력
									*/
								}
							})
						},
						fail: function (err) {
							//alert(JSON.stringify(err));
							alert("카카오api 에러입니다. 관리자에게 문의하세요.");
						}
					});
					/*************   login check start  ****************/	
					$.post('/api/login', {
						check: '0'
					}, function (res) {
					}, 'json')
					.done(function (res) {
					})
					.fail(function (res) {
						console.log(res.err)
						alert(res.responseText);
						//alert('통신 에러입니다. 관리자에게 문의하세요.');
					})
					.always(function (res) {
					})
					/*************   login check end  ****************/		
					//]]>
				</script>
				</p>
				<button class="dialog__action">Read more &#8594;</button>
			</div>
			<!-- popup section end -->
			<div class="mobile_btn_touch"></div>
			<span id="mobile_menu_btn"></span>
			<div id="mobile_menu">
				<ul class="mobile_menu_ul">
					<h2>MENU</h2>
					<li class="mobile_menu_list">ABOUT</li>
					<li class="mobile_menu_list">MENU</li>
					<li class="mobile_menu_list">SHOP</li>
					<li class="mobile_menu_list">NEWS</li>
					<li class="mobile_menu_list">CONTACT</li>
					<li class="mobile_menu_list"><a class="dialog__trigger"><%= name %></a></li>
					<li class="mobile_menu_list"><a class="dialog__trigger">SIGNUP</a></li>
				</ul>
				<div id="close"></div>
			</div>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="background-image:url(/images/db42a256318765.59a95b346b72c.jpg)">
					<div class="text">
						<h2>The best beans.</h2>
						<p><span>We have carefully selected imported beans directly from overseas and directly roasted
								to maintain the best taste.</span></p>
					</div>
				</div>
				<div class="swiper-slide" style="background-image:url(/images/kofe-rozy-uzhin.jpg)">
					<div class="text">
						<h2>Lorem ipsum.</h2>
						<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque doloribus debitis
								totam eum modi, quod quasi nostrum cupiditate, iusto velit sit ex odit deserunt labore,
								dolorem vel architecto facilis exercitationem.</span></p>
					</div>
				</div>
				<div class="swiper-slide" style="background-image:url(/images/52cedb65683595.5afc8cb6871af.jpg)">
					<div class="text">
						<h2>Why do we use it?</h2>
						<p><span>There are many variations of passages of Lorem Ipsum available, but the majority have
								suffered alteration in some form, by injected humour, or randomised words which don't
								look even slightly believable. </span></p>
					</div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination swiper-pagination-white"></div>
			<!-- Add Arrows -->
			<div class="swiper-button-next swiper-button-white"></div>
			<div class="swiper-button-prev swiper-button-white"></div>
		</div>
	</header>

	<div id="wrapper">
		<section id="subsection">
			<div class="line1">
				<div class="line_text">
					<h2>Roasting</h2>
					<p>Oz coffee만의 독특한 로스팅 기술과 최상의 원두로 만들어진 최고의 맛.</p>
					<div class="line_button">
						<div class="line_text_3">MORE
							<div class="line_circle"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="line2"></div>
		</section>
		<section class="one">
			<div class="one_menu section_image">
				<div class="one_text">
					<h2>기부활동 참여</h2>
					<p>직접 디자인해서 만든 수제 머그컵과 텀블러의 판매 수익을 기부하고 있습니다. 또한 Oz coffee의 독특한 로스팅 기술로 만들어진 원두들과 커피머신들도 함께 저렴한 가격으로
						판매하고 있습니다.
					</p>
				</div>
				<div class="one_sub">
				</div>
			</div>

		</section>

		<section class="two">
			<div class="two_menu section_image">
				<div class="two_text">
					<h2>스트롱홀드 S7 Pro</h2>
					<p>기존의 반열풍식 가스 로스터들은 드럼이 달궈지는 데에 많은 시간이 소요되고, 달궈진 후 식히는 데에 또 다시 많은 시간을 기다려야 합니다.<br>로스팅을 연속적으로 진행함에
						따라 드럼이 더욱 더 달궈져서 열을 조절하기가 점점 더 어려워집니다.<br>로스팅 단계(배전도)를 계획할 때에도 이런 문제로 인해 ‘약’에서 ‘중’, ‘중’에서 ‘강’으로
						로스팅 정도를 계획할 수 밖에 없습니다.<br>그에 비해, 스마트 로스터 S7 Pro는 가스 로스터의 이런 제약사항들 없이 언제든지 원하는 정도의 로스팅 계획을 수립할 수
						있습니다. <br>로스팅 머신 자체가 받은 열을 측정하는 ‘타워드럼 온도 센서’로 드럼의 온도를 조절할 수 있으며, 열 조절에 따라 드럼 내부와 타워드럼 자체의 온도가
						신속하고 안정적으로 반응합니다.</p>
				</div>
				<iframe width="40%" height="70%" src="https://www.youtube.com/embed/kmmbyCnrvzM" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</section>
		<section class="three">
			<div class="three_menu section_image">
				<div class="three_text">
					<h2>대여시스템</h2>
					<p>매장에서 노트북과 책들을 매장이용에 한해서 무료로 대여해드립니다. 더욱 더 편안한 휴식을 위해 노력하는 Oz coffee가 되겠습니다.</p>
					<div class="three_button">
						<div class="text_3">MORE
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="four">
			<div class="grid">
				<div class="grid_menu">
					<div class="hoverimage four_1"></div>
					<div class="gridmenu_text">
						<h3>8월 여름맞이 EVENT</h3>
						<p>뜨거운 폭염에 지친 우리들<br>2만원이상 구매시 아이스크림을 무료로 드립니다.</p>
					</div>
				</div>
				<div class="grid_menu">
					<div class="hoverimage four_2"></div>
					<div class="gridmenu_text">
						<h3>2018년 Oz coffee 공모전 수상작</h3>
						<p>많은 분들의 관심속에서 진행된 2018년 Oz coffee<br> 공모전 수상작입니다.</p>
					</div>
				</div>
				<div class="grid_menu">
					<div class="hoverimage four_3"></div>
					<div class="gridmenu_text">
						<h3>2018년 Oz coffee 공모전</h3>
						<p>여러분의 다양한 창의성과 독창성을 보여주는 멋진<br>작품을 보내주시면 추첨을 통해 상품을 드립니다.</p>
					</div>
				</div>
				<div class="grid_menu">
					<div class="hoverimage four_4"></div>
					<div class="gridmenu_text">
						<h3>7월 신상품 출시</h3>
						<p>여름의 더위를 잊게 해줄 시원한 4가지 신메뉴 출시.<br>신메뉴 4종류 8월까지 20% 할인 EVENT</p>
					</div>
				</div>
				<div class="grid_menu">
					<div class="hoverimage four_5"></div>
					<div class="gridmenu_text">
						<h3>2017년 여름 BEST 인기메뉴</h3>
						<p>작년 뜨거웠던 여름 여러분에게 가장 뜨거운 사랑을<br> 받은 메뉴는 무엇이였을까요?</p>
					</div>
				</div>
				<div class="grid_menu">
					<div class="hoverimage four_6"></div>
					<div class="gridmenu_text">
						<h3>사랑하는 사람과 함께 여행가자</h3>
						<p>여러분에게 소중한 사람과의 추억을 만들어 드리기 위해<br>항공권 티켓을 추첨을 통해 드립니다.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer>
		<div class="footer_wrap">

			<div class="footer_logo"></div>
			<div class="footer_content">
				<div class="footer_text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nihil est qui aliquid minus
						laudantium quod at sunt velit, consequatur voluptatum itaque atque distinctio cumque a omnis
						consectetur adipisci debitis!</p>
				</div>
				<div class="social">
					<ul class="social_icon">
						<li class="icon _fb"><a href="#"><img src="/images/snsicon/sns_fb_s.png"
									alt="facebook icon"></a></li>
						<li class="icon _ka"><a href="#"><img src="/images/snsicon/sns_kakao_s.png"
									alt="kakao icon"></a></li>
						<li class="icon _tw"><a href="#"><img src="/images/snsicon/sns_twt_s.png" alt="twiter icon"></a>
						</li>
						<li class="icon _ba"><a href="#"><img src="/images/snsicon/sns_naverband_s.png"
									alt="band icon"></a></li>
					</ul>
				</div>
			</div>
			<address>
				<ul class="contact">CONTACT
					<li class="contact_list"><span><img src="/images/snsicon/icon/f7e6479a.png"
								style="width:30px;height: 30px;" alt=""></span><span class="spantext">경기도 시흥시 정왕4동 고합아파트
							108동 1001호</span></li>
					<li class="contact_list"><span><img src="/images/snsicon/icon/phone-icon-white.png"
								style="width:30px;height: 30px;" alt=""></span><span
							class="spantext">010-4243-3704</span></li>
					<li class="contact_list"><span><img src="/images/snsicon/icon/email-icon.png"
								style="width:30px;height: 30px;" alt=""></span><span
							class="spantext">rladyd818@naver.com</span></li>
				</ul>
			</address>
			<div class="copyright">
				<ul class="copyright_box">
					<li class="copyright_list"><a href="">회사소개</a></li>
					<li class="copyright_list"><a href="">서비스이용안내</a></li>
					<li class="copyright_list"><a href="">개인정보처리방침</a></li>
					<li class="copyright_list"><a href="">운영정책</a></li>
					<li class="copyright_list"><a href="">공지사항</a></li>
					<li class="copyright_list"><a href="">copyright ⓒ Wanderlust All rights reserved</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<script src="/javascripts/swiper-master/dist/js/swiper.min.js"></script>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/sidemenu/sidemenu.js"></script>
	<script src="/javascripts/popup.js"></script>
</body>

</html>