<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>커넥투하트</title>
   <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean" rel="stylesheet">
   <link rel="stylesheet" href="/javascripts/swiper-master/dist/css/swiper.min.css">
   <link rel="stylesheet" href="/stylesheets/index.css">
   <link rel="stylesheet" href="/stylesheets/animation_popup.css">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

</head>
<body>
   <!--          받아온 세션을 string으로 변환         -->
    
   <header>
      <div class="gnb">
         <a href=""><span class="logo"></span></a>
         <nav>
            <ul class="menu">
               <li class="list"><a href="/intro">홈페이지 소개</a></li>
               </li>
               <li class="list">상담
                  <ul class="submenu">
					      <li><a href="/depress">간단한 심리검사</a></li>
                     <li><a href="/counselor">상담사 연결</a></li>
                     <%# <li><a href="/chatTest">채팅테스트</a></li> %>
                  </ul>
               </li>
               <li class="list">고객센터
                  <ul class="submenu">
                     <li><a href="/board">1:1문의</a></li>
                     <!--<li><a href="/board">FAQ</a></li>-->
                     <!--<li><a href="">공지시항</a></li>-->
                  </ul>
               </li>
            </ul>
         </nav>
         <ul class="login_menu">
            <li class="list login"><a class="dialog__trigger"><%= sess.user.id %></a></li>
            <li class="list login"><a href="/signup">SIGNUP</a></li>
            <!--<li class="list login"><a class="dialog__trigger">MENU</a></li>-->
         </ul>
         <div class="dialog">
            <span class="dialog__close">&#x2715;</span>
            <h2 class="dialog__title">커넥투하트</h2>
            <p class="dialog__content">
            <div class="login_main">
        		<h2 style="text-align:center">로그인</h2>
            <form action="/api/login" method="post">
            		<!--action지정하기-->

            			<input type="text" class="login_id" name="id" placeholder="아이디" /><br />
            			<input type="password" class="login_password" name="password" placeholder="비밀번호" /><br />
            			<input type="submit" class="login_button" value="로그인" />
					</form>
					</p>
					<a style="margin-left:30px;" id="kakao-login-btn"></a>
					<a href="http://developers.kakao.com/logout"></a>
					<p>카카오톡 로그인을 원하시면 버튼을 클릭하세요</p>
    			</div>
            <script type='text/javascript'>
               //<![CDATA[
               // 사용할 앱의 JavaScript 키를 설정해 주세요.
               Kakao.init('4f3ad7efbfbf9c7ced27c410ee3c32e4');  //여기서 아까 발급받은 키 중 javascript키를 사용해준다.
               // 카카오 로그인 버튼을 생성합니다.
               Kakao.Auth.createLoginButton({
                  container: '#kakao-login-btn',
                  success: function (authObj) {
                     Kakao.API.request({
                        url: '/v1/user/me',
                        success: function (res) {
                              
                           $.post('/api/signUp', {
                              id: res.id,
                              nickname: res.properties.nickname,
                              type: '2' //type 1= 일반유저 , 2= 카카오 유저
                           }, function (res) {
                           }, 'json')
                           .done(function (res) {
                           })
                           .fail(function (res) {
                              alert(res);
                              //alert('통신 에러입니다. 관리자에게 문의하세요.');
                           })
                           .always(function (res) {
                              console.log(res);
                              if(res.result===0) {
                                 alert('로그인이 완료되었습니다.');
                              }
                           })
                           
                           //console.log(JSON.stringify(res));
                           //console.log(res.kaccount_email); //<---- kakao.api.request 에서 불러온 결과값 json형태로 출력
                           
                           //alert(JSON.stringify(authObj)); //<----Kakao.Auth.createLoginButton에서 불러온 결과값 json형태로 출력
                           /*
                           console.log(res.id);//<---- 콘솔 로그에 id 정보 출력(id는 res안에 있기 때문에  res.id 로 불러온다)
                           console.log(res.kaccount_email);//<---- 콘솔 로그에 email 정보 출력 (어딨는지 알겠죠?)
                           console.log(res.properties['nickname']);//<---- 콘솔 로그에 닉네임 출력(properties에 있는 nickname 접근 
                           // res.properties.nickname으로도 접근 가능 )
                           console.log(authObj.access_token);//<---- 콘솔 로그에 토큰값 출력
                           */
                        }
                     })
                  },
                  fail: function (err) {
                     //alert(JSON.stringify(err));
                     alert("카카오api 에러입니다. 관리자에게 문의하세요.");
                  }
               });                  
               //]]>
            </script>
            </p>
            <button class="dialog__action" onclick="location.href='/sign'">일반 회원가입 &#8594;</button>
            <button class="dialog__action" onclick="location.href='/sign_c'">상담사 회원가입 &#8594;</button>
         </div>
         <!-- popup section end -->
         <div class="mobile_btn_touch"></div>
         <span id="mobile_menu_btn"></span>
         <div id="mobile_menu">
            <ul class="mobile_menu_ul">
               <h2>MENU</h2>
               <li class="mobile_menu_list"><a href="/intro">홈페이지 소개</a></li>
               <li class="mobile_menu_list"><a href="/depress">간단한 심리검사</a></li>
               <li class="mobile_menu_list"><a href="/counselor">상담사 연결</a></li>
               <li class="mobile_menu_list"><a href="/chatTest">채팅테스트</a></li>
               <li class="mobile_menu_list"><a href="/Board">FAQ</a></li>
               <li class="mobile_menu_list"><a class="dialog__trigger"><%= sess.user.id %></a></li>
               <li class="mobile_menu_list"><a href="/signup">SIGNUP</a></li>
            </ul>
            <div id="close"></div>
         </div>
      </div>
      <div class="swiper-container">
         <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(/images/main1.jpg)">
               <div class="text">
                  <h2>당신의 괴로움, 해결할 수 있습니다.</h2>
                  <p><span>다치기 쉬운것이 사람의 마음입니다. 당신도 지속된 상담을 통해 변화와 성장을 할 수 있습니다.
                     당신이 조금더 행복해졌으면 좋겠습니다. 커넥투하트에서 당신의 마음을 들여다보세요.
                  </span></p>
               </div>
            </div>
            <div class="swiper-slide" style="background-image:url(/images/main2.jpg)">
               <div class="text">
                  <h2>커넥투하트</h2>
                  <p><span>많은 현대인들이 빠르게 변화하는 세상 속에서 마음의 병을 앓고 있습니다. 
                     이에 심리 상담의 필요성이 대두대고 있지만, 여전히 편견과 오해로 주저하는 사람들이 많습니다. 
                     바빠서 직접 심리상담소에 가지 못하는 사람, 간단한 심리상담을 통해 나의 속얘기를 하고 싶다면 커넥투하트를 찾으세요.</span></p>
               </div>
            </div>
            <div class="swiper-slide" style="background-image:url(/images/main3.jpg)">
               <div class="text">
                  <h2>상담, 더이상 망설이지 마세요.</h2>
                  <p><span>나를 화나게 하고 힘들게 하는 일로 인하여 발생된 감정들이 나의 현재를 집어삼켜 앞으로 나아가지 못하게 만들 때가 있습니다.
                     내 나의 생각과 감정을 내가 이해하지 못한다면, 복잡하고 급변하는 환경에서 살아가기란 힘든일입니다.
                     누군가에게 내 이야기를 털어놓고 한숨 돌리세요.
                  </span></p>
               </div>
            </div>
         </div>
         <!-- Add Pagination -->
         <div class="swiper-pagination swiper-pagination-white"></div>
         <!-- Add Arrows -->
         <div class="swiper-button-next swiper-button-white"></div>
         <div class="swiper-button-prev swiper-button-white"></div>
      </div>
   </header>

   <div id="wrapper">
      <section id="subsection">
         <div class="line1">
            <div class="line_text">
               <h2>간단한 심리검사</h2>
               <p>당신이 의심되는 마음의 병을 진단해보세요.</p>
               <div class="line_button"><a href="/depress">
                  <div class="line_text_3">바로가기
                     <div class="line_circle"></a></div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="two">
         <div class="two_menu section_image">
            <div class="two_text">
               <h2>홈페이지 소개</h2>
               <p>‘우울증 60만 명’, OECD국가 중 행복지수 29위‘ 매년 뉴스에서 들려오는 문구입니다. 
                                    이처럼 많은 현대인들이 빠르게 변화하는 세상 속에서 마음의 병을 앓고 있습니다. 
                                    이에 심리 상담의 필요성이 대두대고 있지만, 여전히 편견과 오해로 주저하는 사람들이 많습니다. 
                                    바빠서 직접 심리상담소에 가지 못하는 사람, 간단한 심리상담을 통해 나의 속얘기를 하고 싶은 사람들을 위해 커넥투하트를 만들게 되었습니다.
                                     내가 마음의 병을 가지고 있지는 않은지 간단한 심리검사를 통해 검사할 수 있으며, 직접 원하는 상담사 선생님을 선택해 대화를 주고 받을 수 있습니다.</p>
            </div>
            <iframe width="40%" height="70%" src="" frameborder="0"
               allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
      </section>
      <section class="three">
         <div class="three_menu section_image">
            <div class="three_text">
               <h2>상담사연결</h2>
               <p>지금 바로 상담사와 연결하여 상담이 가능합니다.</p>
               <div class="three_button"><a href="/counselor">
                  <div class="text_3">MORE
                     <div class="circle"></a></div>
                  </div>
               </div>
            </div>
         </div>
      </section>

   </div>
   <footer>
      <div class="footer_wrap">

         <div class="footer_logo"></div>
         <div class="footer_content">
            <div class="footer_text">
               <p>커넥투하트는 많은 사람들이 심리 상담의 혜택을 받아 더 건강한 사회를 만들어갑니다.
                  내가 마음의 병을 가지고 있지는 않은지 간단한 심리검사를 통해 검사할 수 있으며, 직접 원하는 상담사 선생님을 선택해 대화를 주고 받을 수 있습니다.
                </p>
            </div>
            <div class="social">
               <ul class="social_icon">
                  <li class="icon _fb"><a href="#"><img src="/images/snsicon/sns_fb_s.png"
                           alt="facebook icon"></a></li>
                  <li class="icon _ka"><a href="#"><img src="/images/snsicon/sns_kakao_s.png"
                           alt="kakao icon"></a></li>
                  <li class="icon _tw"><a href="#"><img src="/images/snsicon/sns_twt_s.png" alt="twiter icon"></a>
                  </li>
                  <li class="icon _ba"><a href="#"><img src="/images/snsicon/sns_naverband_s.png"
                           alt="band icon"></a></li>
               </ul>
            </div>
         </div>
         <address>
            <ul class="contact">CONTACT
               <li class="contact_list"><span><img src="/images/snsicon/icon/f7e6479a.png"
                        style="width:30px;height: 30px;" alt=""></span><span class="spantext">충청북도 청주시 충대로1
                     </span></li>
               <li class="contact_list"><span><img src="/images/snsicon/icon/phone-icon-white.png"
                        style="width:30px;height: 30px;" alt=""></span><span
                     class="spantext">010-4243-3704</span></li>
               <li class="contact_list"><span><img src="/images/snsicon/icon/email-icon.png"
                        style="width:30px;height: 30px;" alt=""></span><span
                     class="spantext">rladyd818@naver.com</span></li>
            </ul>
         </address>
         <div class="copyright">
            <ul class="copyright_box">
               <li class="copyright_list"><a href="">회사소개</a></li>
               <li class="copyright_list"><a href="">서비스이용안내</a></li>
               <li class="copyright_list"><a href="">개인정보처리방침</a></li>
               <li class="copyright_list"><a href="">운영정책</a></li>
               <li class="copyright_list"><a href="">공지사항</a></li>
               <li class="copyright_list"><a href="">copyright ⓒ 커넥투하트 All rights reserved</a></li>
            </ul>
         </div>
      </div>
   </footer>
   <script src="/javascripts/swiper-master/dist/js/swiper.min.js"></script>
   <script src="/javascripts/index.js"></script>
   <script src="/javascripts/sidemenu/sidemenu.js"></script>
   <script src="/javascripts/popup.js"></script>
</body>

</html>