<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>심리검사</title>
    <style>
        /*css분리시키기*/
       
     body {
         background-color: cornsilk
     }
#nav {
    margin: 10px;
}
#nav ul {
        list-style: none;
        text-align: center;
        border-bottom: 1px solid orange;
        padding: 10px 0;
    
    }
    #nav ul li {
            display: inline;
            padding: 0 10px;
            letter-spacing: 10px;
            font-family: sans-serif
        }

            #nav ul li a {
                text-decoration: none;
                color: black;
            }

                #nav ul li a:hover {
                    text-decoration: underline;
                }

.test_list {
    text-align: center;
}
        .depress_Q {
            clear: both;
            list-style: none;
        }

        .depress_A {
            list-style: none;
            clear: both;
        }

        .button {
            display: block;
            margin-top: 25px;
            border: 1px;
            margin-bottom: 10px;
            margin-left: 250px;
            width: 200px;
            height: 50px;
            background-color: orange;
        }

        .button:hover {
            text-decoration: underline;
            background-color: darkgoldenrod;

        }

        aside#left {
            width: 25%;
            float: left;
            margin-left: 30px;
        }

        #left h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        #left ul {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #FFF;
            list-style: none;
            text-indent: 15px;
        }

        #left ul li {
            background: orange;
            line-height: 28px;
            border-bottom: 1px solid white;
        }

        #left ul a {
            text-decoration: none;
            color: #FFF;
            display: block;
        }
        #left ul li a:hover {
                background: orangered;
            }
.main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
    width: 700px;
    float: left;
    margin-left: 50px;
}

    </style>
</head>

<body>
    <nav id="nav">
            <ul>
                <li><a href="index.html">홈페이지소개</a></li>
                <li><a href="index.html">심리상담</a></li>
                <li><a href="index.html">문의</a></li>
            </ul>
        </nav>
    
    <aside id="left">
        <h1 class="test_list">심리검사 목록</h1>
        <ul>
            <li class="leftMenBg"><a target="iframe1" href="depress.ejs">우울</a></li>
            <li class="leftMenBg"><a target="iframe1" href="javascript:selfTest('2');">불안</a></li>
            <li class="leftMenBg"><a target="iframe1" href="javascript:selfTest('3');">외상 후 스트레스</a></li>
            <li class="leftMenBg"><a target="iframe1" href="javascript:selfTest('4');">자살 위험</a></li>
            <li class="leftMenBg"><a target="iframe1" href="javascript:selfTest('5');">알코올 중독</a></li>
        </ul>
    </aside>

    <div class="main">
        <article class="article1">
            <form name="depress_form" method="post" action=" ">
                    <p class="main_p1">※ 지난 2주일 동안 당신은 다음의 문제들로 인해서 얼마나 자주 방해를 받았습니까?</p>
                    <ul class="depress_Q">
                        <li class="Q">
                            1. 매사에 흥미나 즐거움이 없다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A1_input" class="A1_input" id="11" value="0"> <label for="11">전혀
                                그렇지
                                않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A1_input" class="A1_input" id="12" value="1"> <label for="12">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A1_input" class="A1_input" id="13" value="2"> <label for="13">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A1_input" class="A1_input" id="14" value="3"> <label for="14">거의
                                매일</label>
                        </li>
                    </ul>

                    <ul class="depress_Q">
                        <li class="Q">
                            2. 기분이 가라앉거나, 우울하거나, 희망이 없다고 느낀다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A2_input" class="A2_input" id="21" value="0"> <label for="21">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A2_input" class="A2_input" id="22" value="1"> <label for="22">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A2_input" class="A2_input" id="23" value="2"> <label for="23">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A2_input" class="A2_input" id="24" value="3"> <label for="24">거의
                                매일</label>
                        </li>
                    </ul>

                    <ul class="depress_Q">
                        <li class="Q">
                            3. 잠들기 어렵거나 자주 깬다/혹은 잠을 너무 많이 잔다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A3_input" class="A3_input" id="31" value="0"> <label for="31">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A3_input" class="A3_input" id="32" value="1"> <label for="32">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A3_input" class="A3_input" id="33" value="2"> <label for="33">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A3_input" class="A3_input" id="34" value="3"> <label for="34">거의
                                매일</label>
                        </li>
                    </ul>

                    <ul class="depress_Q">
                        <li class="Q">
                            4. 피곤하다고 느끼거나 기운이 거의 없다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A4_input" class="A4_input" id="41" value="0"> <label for="41">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A4_input" class="A4_input" id="42" value="1"> <label for="42">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A4_input" class="A4_input" id="43" value="2"> <label for="43">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A4_input" class="A4_input" id="44" value="3"> <label for="44">거의
                                매일</label>
                        </li>
                    </ul>

                    <ul class="depress_Q">
                        <li class="Q">
                            5. 식욕이 줄었다/혹은 너무 많이 먹는다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A5_input" class="A5_input" id="51" value="0"> <label for="51">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A5_input" class="A5_input" id="52" value="1"> <label for="52">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A5_input" class="A5_input" id="53" value="2"> <label for="53">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A5_input" class="A5_input" id="54" value="3"> <label for="54">거의
                                매일</label>
                        </li>
                    </ul>

                    <ul class="depress_Q">
                        <li class="Q">
                            6. 내 자신이 실패자로 여겨지거나 자신과 가족을 실망시켰다고 느낀다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A6_input" class="A6_input" id="61" value="0"> <label for="61">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A6_input" class="A6_input" id="62" value="1"> <label for="62">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A6_input" class="A6_input" id="63" value="2"> <label for="63">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A6_input" class="A6_input" id="64" value="3"> <label for="64">거의
                                매일</label>
                        </li>
                    </ul>

                    <Ul class="depress_Q">
                        <li class="Q">
                            7. 신문을 읽거나 TV를 보는 것과 같은 일상적인 일에 집중하기 어렵다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A7_input" class="A7_input" id="71" value="0"> <label for="71">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A7_input" class="A7_input" id="72" value="1"> <label for="72">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A7_input" class="A7_input" id="73" value="2"> <label for="73">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A7_input" class="A7_input" id="74" value="3"> <label for="74">거의
                                매일</label>
                        </li>
                    </ul>

                    <ul class="depress_Q">
                        <li class="Q">
                            8. 다른 사람들이 눈치 챌 정도로 평소보다 말과 행동이 느리다/혹은 너무 안절부절 못해서 가만히 앉아 있을 수 없다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A8_input" class="A8_input" id="81" value="0"> <label for="81">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A8_input" class="A8_input" id="82" value="1"> <label for="82">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A8_input" class="A8_input" id="83" value="2"> <label for="83">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A8_input" class="A8_input" id="84" value="3"> <label for="84">거의
                                매일</label>
                        </li>
                    </ul>

                    <ul class="depress_Q">
                        <li class="Q">
                            9. 자신이 죽는 것이 더 낫다고 생각하거나 어떻게든 자해를 하려고 생각한다
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A9_input" class="A9_input" id="91" value="0"> <label for="91">전혀
                                그렇지 않다</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A9_input" class="A9_input" id="92" value="1"> <label for="92">수일
                                정도</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A9_input" class="A9_input" id="93" value="2"> <label for="93">1주일
                                이상</label>
                        </li>
                    </ul>

                    <ul class="depress_A">
                        <li class="A">
                            <input type="radio" name="A9_input" class="A9_input" id="94" value="3"> <label for="94">거의
                                매일</label>
                        </li>
                    </ul>
                    <input type="button" onclick="Check();" value="결과 확인" class="button"
                        style="width:100px;height:30px;">
                    <!--자바스크립트 제출함수 만들기-->
                </div>
            </form>
</div>
</body>

</html>