<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <script>
        function validate(elem) {
            var id = elem.value;
            var reg2 = /[a-z][0-9]+/;

            if ((reg2.test(id) && (id.length >= 5 || id.length <= 20))) {
                return true;
            } else {
                alert("5-20개 사이의 문자와 숫자만 가능합니다.");
                elem.focus();
                return false;
            }
        }
            function correct(elem1,elem2) {
                var pass = elem1.value;
                var pass1 = elem2.value;
                if (pass == pass1) {
                    return true;
                }
                else {
                    alert("비밀번호 불일치");
                    elem1.focus();
                    elem2.focus();
                    return false;
                }

            }
        
    </script>

    <h1 class='h1_main'>회원가입</h1>
    <hr width=70% color="orange" align="center" size=2 /><br>
     <div class="s_main">
    <form action="" method="post">
    <!--action 설정-->
        <table cellpadding="10%" cellspacing="0px">
            <tr>
                <td class="site1"><label>이름<span style="color:red;">*</span></label><br />
                </td>
                <td class="site2"><input class="form_box" type="text" name="name" placeholder="이름" maxlength="10" required
                        autofocus /><br /></td>
            </tr>

            <tr>
                <td class="site1">
                    <label>성별<span style="color:red;">*</span></label><br />
                </td>
                <td class="site2"><input type="radio" name="gender" value="woman" />여자
                    <input type="radio" name="gender" value="man" />남자<br /></td>
            </tr>
            <tr>
                <td class="site1">
                    <label>이메일<span style="color:red;">*</span></label><br /></td>
                <td class="site2"><input class="form_box" type="email" name="email" placeholder="이메일" required /><br />
                </td>
            </tr>
            <tr>
                <td class="site1">
                    <label>전화번호<span style="color:red;">*</span></label><br /></td>
                <td class="site2"><input class="form_box" type="tel" name="tel" id="tel" placeholder="전화번호"
                        aria-label="전화번호 입력" maxlength="16" required /><br /></td>
            </tr>
            <tr>
                <td class="site1">
                    <label>생년월일<span style="color:red;">*</span></label><br /></td>
                <td class="site2"><input class="birth_box" type="text" name="birth" placeholder="년(4자)" aria-label="년(4자)"
                        maxlength="4" />
                    <select class="birth_box" aria-label="월">
                        <option>월</option>
                        <option value="01">
                            1
                        </option>
                        <option value="02">
                            2
                        </option>
                        <option value="03">
                            3
                        </option>
                        <option value="04">
                            4
                        </option>
                        <option value="05">
                            5
                        </option>
                        <option value="06">
                            6
                        </option>
                        <option value="07">
                            7
                        </option>
                        <option value="08">
                            8
                        </option>
                        <option value="09">
                            9
                        </option>
                        <option value="10">
                            10
                        </option>
                        <option value="11">
                            11
                        </option>
                        <option value="12">
                            12
                        </option>
                    </select>
                    <input type="text" class="birth_box" placeholder="일" aria-label="일" class="int" maxlength="2"><br />
                </td>
            </tr>
            <tr>
                <td class="site1">
                    <label>아이디<span style="color:red;">*</span></label><br /></td>
                <td class="site2"><input class="id" type="text" name="id" maxlength="20" placeholder="아이디입력"
                        onchange="validate(document.getElementById('id'))"><br />
                    <p id="errormessage">5~20자 사이 문자와 숫자만 가능합니다.</p>
                </td>
            <tr>
                <td class="site1">
                    <label>비밀번호<span style="color:red;">*</span></label><br /></td>
                <td class="site2"><input class="pass" type="password" name="password" placeholder="비밀번호입력" maxlength="20"
                        required onchange="validate(document.getElementById('pass'))"/><br />
                    <p id="errormessage">5~20자 사이 문자와 숫자만 가능합니다.</p>
                </td>
            <tr>
                <td class="site1">
                    <label>비밀번호 확인<span style="color:red;">*</span></label><br /></td>
                <td class="site2"><input class="pass1" type="password" name="password_check"
                        placeholder="한번 더 입력하세요" required onchange="correct(document.getElementById('pass'),document.getElementById('pass1'))"/><br />
                        <p>동일한 비밀번호을 입력하세요.</p>
                    </td>
            <tr>
                <td colspan="2" class="site2">
                    <input type="checkbox" name="agree" value="agree" /><span style="color:red;">*</span>나는 개인정보활용에
                    동의합니다.<br />
                    <input type="submit" class="s_button" value="가입하기" onclick="alert('실행이 완료됐습니다.')" /></td>
            </tr>
            <!--alert말고 데이터 저장되도록-->
            </form>
    </div>
</body>

</html>