<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>실습 예제</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700" rel="stylesheet">
	<link rel="stylesheet" href="./script/swiper-master/dist/css/swiper.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="./css/sub_01.css">

</head>

<body>
	<header>
		<div class="gnb">
			<a href=""><span class="logo">Wanderlust</span></a>
			<nav>
				<ul class="menu">
					<li class="list">MENU1
						<ul class="submenu">
							<li><a href="">menu1-1</a></li>
							<li><a href="">menu1-2</a></li>
							<li><a href="">menu1-3</a></li>
						</ul>
					</li>
					<li class="list">MENU2
						<ul class="submenu">
							<li><a href="">menu2-1</a></li>
							<li><a href="">menu2-2</a></li>
							<li><a href="">menu2-3</a></li>
						</ul>
					</li>
					<li class="list">MENU3
						<ul class="submenu">
							<li><a href="">menu3-1</a></li>
							<li><a href="">menu3-2</a></li>
							<li><a href="">menu3-3</a></li>
						</ul>
					</li>
					<li class="list">MENU4
						<ul class="submenu">
							<li><a href="">menu4-1</a></li>
							<li><a href="">menu4-2</a></li>
							<li><a href="">menu4-3</a></li>
						</ul>
					</li>
					<li class="list">MENU5
						<ul class="submenu">
							<li><a href="">menu5-1</a></li>
							<li><a href="">menu5-2</a></li>
							<li><a href="">menu5-3</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<ul class="login_menu">
				<li class="list login"><a href="">LOGIN</a></li>
				<li class="list login"><a href="">MENU</a></li>
				<li class="list login"><a href="">MENU</a></li>
			</ul>
		</div>
		<section class="flexmenu">
			<div class="flex one">
				<div class="contents">
					<h2>Europe</h2>
					<p>French England Lorem ipsum dolor scale bush man meet</p>
				</div>
			</div>
			<div class="flex two">
				<div class="contents">
					<h2>Oceania</h2>
					<p>French England Lorem ipsum dolor scale bush man meet</p>
				</div>
			</div>
			<div class="flex three">
				<div class="contents">
					<h2>America</h2>
					<p>French England Lorem ipsum dolor scale bush man meet</p>
				</div>
			</div>
			<div class="flex four">
				<div class="contents">
					<h2>Asia</h2>
					<p>French England Lorem ipsum dolor scale bush man meet</p>
				</div>
			</div>
		</section>
	</header>

	<div id="wrap">
		<div class="section_title">
			<h2>PLACE</h2>
		</div>
		<section class="content">

			<div class="box">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image:url(./image/newyork.jpg)"></div>
						<div class="swiper-slide" style="background-image:url(./image/kitchen-515388_1280.jpg)"></div>
						<div class="swiper-slide" style="background-image:url(./image/opera.jpg)"></div>
						<div class="swiper-slide" style="background-image:url(./image/the-rain-logo.jpg)"></div>
						<div class="swiper-slide" style="background-image:url(./image/osaka.jpg)"></div>
					</div>

					<!-- Add Pagination -->
					<div class="swiper-pagination swiper-pagination-white"></div>
					<!-- Add Arrows -->
					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>
			</div>
			<div class="container">
				<div class="first">
					<h2>Lorem ipsum.</h2>
					<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque repellendus, neque numquam officia eos consequatur aliquid necessitatibus reiciendis, laudantium voluptatem animi, nesciunt fuga eligendi minus aperiam hic sunt, exercitationem praesentium.</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque repellendus, neque numquam officia eos consequatur aliquid necessitatibus reiciendis, laudantium voluptatem animi, nesciunt fuga eligendi minus aperiam hic sunt, exercitationem praesentium.</span></p>
				</div>
				<ul class="social_icon">
					<li class="icon _fb"><a href="#"><img src="./image/snsicon/sns_fb_s.png" alt="facebook icon"></a></li>
					<li class="icon _ka"><a href="#"><img src="./image/snsicon/sns_kakao_s.png" alt="kakao icon"></a></li>
					<li class="icon _tw"><a href="#"><img src="./image/snsicon/sns_twt_s.png" alt="twiter icon"></a></li>
					<li class="icon _ba"><a href="#"><img src="./image/snsicon/sns_naverband_s.png" alt="band icon"></a></li>
				</ul>
				<div class="box2"></div>
			</div>
			<div class="second">
				<h2>Lorem ipsum dolor.</h2>
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet recusandae excepturi, vel, sapiente beatae non voluptatibus, asperiores facere molestiae eaque nihil architecto suscipit dolorum debitis alias maiores, commodi. Minima, sed?</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque repellendus, neque numquam officia eos consequatur aliquid necessitatibus reiciendis, laudantium voluptatem animi, nesciunt fuga eligendi minus aperiam hic sunt, exercitationem praesentium.</span></p>
			</div>
			<div id="player"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/1u9y0GUuTjY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7477985333085!2d139.7432442155346!3d35.65858483882056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z64-E7L-EIO2DgOybjA!5e0!3m2!1sko!2skr!4v1533532253701" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="map_text">
				<h2>찾아오시는 길</h2>
				<dl>
					<dt>도쿄타워 전망대</dt>
					<dd>거리 : 공항에서 *시간</dd>
					<dd>가격 : **만원</dd>
				</dl>
				<dl>
					<dt>OO호텔</dt>
					<dd>거리 : 공항에서 *시간</dd>
					<dd>가격 : 하루 숙박 **만원</dd>
					<dd>수영장, 조식, 온천 등 다양한 서비스 이용가능</dd>
				</dl>
			</div>
		</section>
	</div>
	<footer>
		<div class="footer_wrap">
		
			<div class="footer_logo">WONDERLUST</div>
			<div class="footer_content">
			<div class="footer_text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nihil est qui aliquid minus laudantium quod at sunt velit, consequatur voluptatum itaque atque distinctio cumque a omnis consectetur adipisci debitis!</p>
			</div>
			<div class="social">
			<ul class="social_icon">
				<li class="icon _fb"><a href="#"><img src="./image/snsicon/sns_fb_s.png" alt="facebook icon"></a></li>
				<li class="icon _ka"><a href="#"><img src="./image/snsicon/sns_kakao_s.png" alt="kakao icon"></a></li>
				<li class="icon _tw"><a href="#"><img src="./image/snsicon/sns_twt_s.png" alt="twiter icon"></a></li>
				<li class="icon _ba"><a href="#"><img src="./image/snsicon/sns_naverband_s.png" alt="band icon"></a></li>
			</ul>
			</div>
			</div>
			<address>
       <ul class="contact">CONTACT
       	<li class="contact_list"><span><img src="./image/snsicon/icon/f7e6479a.png" style="width:35px;height: 35px;" alt=""></span><span class="spantext">경기도 시흥시 정왕4동 고합아파트 108동 1001호</span></li>
       	<li class="contact_list"><span><img src="./image/snsicon/icon/phone-icon-white.png"style="width:35px;height: 35px;" alt=""></span><span class="spantext">010-4243-3704</span></li>
       	<li class="contact_list"><span><img src="./image/snsicon/icon/email-icon.png" style="width:35px;height: 35px;"alt=""></span><span class="spantext">rladyd818@naver.com</span></li>
       </ul>
        </address>
        <div class="copyright">
        	<ul class="copyright_box">
        		<li class="copyright_list"><a href="">회사소개</a></li>
        		<li class="copyright_list"><a href="">서비스이용안내</a></li>
        		<li class="copyright_list"><a href="">개인정보처리방침</a></li>
        		<li class="copyright_list"><a href="">운영정책</a></li>
        		<li class="copyright_list"><a href="">공지사항</a></li>
        		<li class="copyright_list"><a href="">copyright ⓒ Wanderlust All rights reserved</a></li>
        	</ul>
        </div>
		</div>
	</footer>
	<script src="./script/swiper-master/dist/js/swiper.min.js"></script>
	<script src="script/sub_01.js"></script>



</body>

</html>