<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form name="suicide_form" method="post" action=" ">
                <div class="suicide_div">
        <p class="main_p3">※ 다음 문항을 잘 읽고 당신에게 해당되는 번호에 하나만 선택하여 표시 해 주십시오.</p>

        <ul class="sucide_Q">
         <li class="Q">
         1. 자살을 하려고 생각해보거나 시도해 본 적이 있습니까?
         </li>
        </ul>
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A1_input" class="A1_input" id="11" value="1"> <label for="11">전혀 없다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A1_input" class="A1_input" id="12" value="2"> <label for="12">잠시 생각해 본 적이 있다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A1_input" class="A1_input" id="13" value="3"> <label for="13">자살을 하려는 계획을 세워본 적은 있지만 실제로 시도하지는 않았다.</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A1_input" class="A1_input" id="14" value="3"> <label for="14">자살을 하려는 계획을 세워본 적이 있고 (시도해 본 적은 없지만) 정말로 죽고 싶었다.</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A1_input" class="A1_input" id="15" value="4"> <label for="15">자살을 시도해 본 적이 있다. 하지만 죽고 싶었던 것은 아니다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A1_input" class="A1_input" id="16" value="4"> <label for="16">자살을 시도해 본 적이 있고 정말로 죽고 싶었다.</label>
         </li>
        </ul> 
       
        <ul class="sucide_Q">
         <li class="Q">
          2. 지난 일 년 동안 얼마나 자주 자살을 하려고 생각해 보았습니까?
         </li>
        </ul>
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A2_input" class="A2_input" id="21" value="1"> <label for="21">생각해 본 적이 전혀 없다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A2_input" class="A2_input" id="22" value="2"> <label for="22">드물지만 생각해 본 적이 있다(1번)</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A2_input" class="A2_input" id="23" value="3"> <label for="23">가끔 생각해 본 적이 있다(2번)</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A2_input" class="A2_input" id="24" value="4"> <label for="24">자주 생각해 보았다(3-4번)</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A2_input" class="A2_input" id="25" value="5"> <label for="25">매우 자주 생각해 보았다(5번 이상)</label>
         </li>
        </ul> 
       
        <ul class="sucide_Q">
         <li class="Q">
          3. 자살을 하려고 했거나 할지도 모른다는 말을 다른 사람에게 한 적이 있습니까?
         </li>
        </ul>
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A3_input" class="A3_input" id="31" value="1"> <label for="31">아무에게도 말한 적이 없다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A3_input" class="A3_input" id="32" value="2"> <label for="32">한 번 있다. 그러나 정말로 죽고 싶었던 것은 아니다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A3_input" class="A3_input" id="33" value="2"> <label for="33">한 번 있다. 그 때는 정말로 죽고 싶었다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A3_input" class="A3_input" id="34" value="3"> <label for="34">한 번 넘게 있다. 그러나 정말로 죽고 싶었던 것은 아니다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A3_input" class="A3_input" id="35" value="3"> <label for="35">한 번 넘게 있다. 그 때는 정말로 죽고 싶었다</label>
         </li>
        </ul> 
       
        <ul class="sucide_Q">
         <li class="Q">
          4. 미래에 자살을 시도할 가능성이 얼마나 있다고 생각합니까?
         </li>
        </ul>
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A4_input" class="A4_input" id="41" value="0"> <label for="41">전혀 없다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A4_input" class="A4_input" id="42" value="1"> <label for="42">거의 없을 것 같다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A4_input" class="A4_input" id="43" value="2"> <label for="43">별로 없을 것 같다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A4_input" class="A4_input" id="44" value="3"> <label for="44">없을 것 같다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A4_input" class="A4_input" id="45" value="4"> <label for="45">있을 것 같다.</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A4_input" class="A4_input" id="46" value="5"> <label for="46">꽤 있을 것 같다</label>
         </li>
        </ul> 
       
        <ul class="sucide_A">
         <li class="A">    
          <input type="radio" name="A4_input" class="A4_input" id="47" value="6"> <label for="47">아주 많이 있을 것 같다</label>
         </li>
        </ul> 
       
       </div>
       </form>
       
</body>
</html>